<div class="col-md-4 offset-md-4" style="margin-top: 10px">
  <ul class="list-group">
    <li class="list-group-item text-center"><strong>Admin</strong></li>
    <li class="list-group-item"><strong>Email: </strong><%= @user[0].email %></li>
    <li class="list-group-item"><strong>Password: </strong> 123456789 </li>
  </ul>
</div>
<div class="col-md-4 offset-md-4" style="margin-top: 10px">
  <ul class="list-group">
    <li class="list-group-item text-center"><strong>Company owner</strong></li>
    <li class="list-group-item"><strong>Email: </strong><%= @user[1].email %></li>
    <li class="list-group-item"><strong>Password: </strong> 12345678</li>
  </ul>
</div>
<div class="col-md-4 offset-md-4" style="margin-top: 10px">
  <ul class="list-group">
    <li class="list-group-item text-center"><strong>Customer</strong></li>
    <li class="list-group-item"><strong>Email: </strong><%= @user[2].email %></li>
    <li class="list-group-item"><strong>Password: </strong> 12345678</li>
  </ul>
</div>
<div class="col-md-4 offset-md-4" style="margin-top: 10px">
  <ul class="list-group">
    <li class="list-group-item text-center"><strong>Driver</strong></li>
    <li class="list-group-item"><strong>Email: </strong><%= @user[3].email %></li>
    <li class="list-group-item"><strong>Password: </strong> 12345678</li>
  </ul>
</div>
